:root {
	--black: #311F09;
	--orange: #FF8A00;
	--green: #3FA72F;
    --white-orange: #ffe6c8;
    --white: #fdfcdd;
    --white-blue: #f0f0fd;
    --blue: #85a8ed;
}

body, html {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
    background-color: var(--white);
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

/* header */

header {
	padding-top: 51px;
}

.container {
	max-width: 1237px;
	margin: 0px auto;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-content__last {
	display: flex;
	align-items: center;
}

.header-content__last img {
	margin-right: 25px;
}

.header-content__last a:last-of-type {
 	background-color: var(--green);
 	text-decoration: none;
 	color: #fff;
 	padding: 15px 34px;
 	border-radius: 134px;

 	transition: backgroung-color .4s ease;
}

.header-content__last a:last-of-type:hover {
	background-color: var(--orange);
}

nav a {
	text-decoration: none;
	margin-right: 45px;
	color: var(--black);
	display: inline-block;

	transition: all .4s ease;
}

nav a:hover {
	 color: var(--green); 
	 transform: scale(1.2);
}

nav a:last-of-type {
	margin-right: 0;

}

nav a.checked {
	color: var(--orange);
}

/* main */

main {
    padding-top: 166px;
}

.main_content {
    display: flex;
    justify-content: space-between;
}

.main-content_about {
    color: var(--black);
    background-color: var(--white-orange);
    padding: 10px 34px;
    border-radius: 126px;
    display: inline-block;
    margin-bottom: 22px;
}

.main-content h1 {
    color: var(--black);
    font-size: 80px;
    line-height: 110%;
    margin-bottom: 30px;
}

.main-content p {
    font-size: 20px;
    line-height: 200%;
    margin-bottom: 77px;
    color: var(--black);
}

.main-content__button a:first-of-type{
    color: var(--white);
    background-color: var(--orange);
    padding: 17px 62px;
    border-radius: 162px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 216px;
    transition: transfrom .4s ease;
}

.main-content__button a:hover {
    transform: scale(1.09);
    background-color: var(--green );
}

.main_img {
    display: flex;
    float: right;
    margin-top: -600px;
    justify-content: space-around;
}

/* welcome */

.welcome {
    background-color: var(--white-blue);
    padding-top: 147px;
    padding-bottom: 132px;
}

.welcome-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome_bg {
    position: relative;
    display: flex;
    float: left;
    top: -120px;
    right: -100px;
    justify-content: space-around;
}

.welcome-inner h2 {
    position: relative;
    right: 100px;
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    margin-bottom: 25px;
    color: var(--black);
}

.welcome-inner h2 span {
    color: var(--blue);
}

.welcome-inner p {
    position: relative;
    right: 100px;
    font-size: 20px;
    color: var(--black);
    line-height: 40px;
    margin-bottom: 80px;
}

.welcome-inner a {
    position: relative;
    right: 100px;
    background-color: var(--orange);
    color: #fff;
    padding: 17px 45px;
    border-radius: 162px;
    text-decoration: none;
    display: inline-block;
    transition: transform .3s ease;
}

.welcome-inner a:hover {
    transform: scale(1.1);
    background-color: var(--blue);
}
